.flex.gap-10.mt-2.pt-4.bg-neutral-50.mx-10.border-b-2{class: language_bg(trans.language)}
  .basis-10.ml-3
    %h3.text-lg.font-bold.text-center
      = trans.object.index_name
      = trans.language
  .grow
    .text{id: "#{trans.id}_header_text" ,
          onclick: "text_to_form(event)" ,
          class: ("bg-orange-200" if trans.is_old?) }
      = trans.header
    .hidden.form{id: "#{trans.id}_header_form"}
      %input.mt-1.w-full.rounded-md.border-gray-200.bg-white.text-sm.text-gray-800.shadow-sm{ id: "#{trans.id}_header", type: "text" , value: trans.header}
      %button.button.change.mt-4{type: :submit ,
              id: "#{trans.id}_header_button" ,
               onclick: "submit_switch(event)"  }
        Update Texts
  .grow
    .text{id: "#{trans.id}_text_text" ,
          onclick: "text_to_form(event)" ,
          class: ("bg-orange-200" if trans.is_old?) }
      = trans.text
    .hidden.form{id: "#{trans.id}_text_form"}
      %textarea.mt-2.w-full.rounded-lg.border-gray-200.align-top.shadow-sm.sm:text-sm{ cols: 100 ,
              id: "#{trans.id}_text" , rows: rows(trans.text) }
        =trans.text
      %button.button.change.mt-4{type: :submit ,
              id: "#{trans.id}_text_button" ,
              onclick: "submit_switch(event)"}
        Update Texts
