.mx-6.md:mx-12.mx-20.flex.h-16.items-center.gap-16
  .text-xl.font-bold.text-gray-900
    - previous = @page.previous_page
    = link_to( "<< previous (#{previous.name})" , staged.translation_path(id: previous.id) )
  .text-xl.font-bold.text-gray-900
    Page
    = @page.name
  .text-xl.font-bold.text-gray-900
    - next_page = @page.next_page
    = link_to( "(#{next_page.name}) next >> " , staged.translation_path(id: next_page.id) )

-Staged.language_strings.each do |lang|
  -@page.sections.each do |section|
    -trans = section.get_translation(lang)
    = render "row" , trans: trans

    -section.cards.each do |card|
      -trans = card.get_translation(lang)
      = render "row" , trans: trans


:javascript
  // element ids conform to the following namng scheme (trans is tanslation id)
  // trans_type_text  is the text div for type (text/header)
  // trans_type_form  is the form div for type (gets switched with above)
  // trans_type_button  is the button for form for type
  // trans_type is the input/textarea (value is put to trans_type_text)

  // change visibility id_text /id_form according to param 2/3
  function toggle_vis(id , text_visability , form_visability){
    var text_id = id + "_text";
    var text = document.getElementById(text_id);
    text.style.display = text_visability;
    var form_id = id + "_form";
    var form = document.getElementById(form_id);
    form.style.display = form_visability ;
    return text ;
  }


  function form_submit(trans_id , field ){
    var input_id = trans_id + "_" + field
    var input = document.getElementById(input_id);

    var postObj = {
        authenticity_token: "#{form_authenticity_token}"
    }
    postObj[field] = input.value ;
    const url = "/staged/translations/" + trans_id
    fetch(url, {
        method: 'put', body: JSON.stringify(postObj),
        headers: { 'Accept': 'application/json', 'Content-Type': 'application/json'}
      }).then((response) => {
          return response.json()
      }).then((res) => {
          console.log(input_id + " updated")
      }).catch((error) => {
          console.log(error)
      })
    var text = toggle_vis( input_id , "block", "none")
    text.innerHTML = input.value ;
    text.classList.remove("bg-orange-200");
  }


  function submit_switch(event){
    var input_id = event.target.id; // eg 123_header
    console.log("switch " + input_id)
    var parts = input_id.split("_")
    form_submit( parts[0] , parts[1] );
  }


  function text_to_form(event) {
    var text_id = event.target.id; // eg 123_header_text
    console.log("text2form " + text_id)
    var parts = text_id.split("_");
    toggle_vis( parts[0] + "_" + parts[1] , "none" , "block")
  }
