- @page.sections.each do |section|
  = render_section( section )

.mx-6.md:mx-12.mx-20.flex.h-16.items-center.gap-16
  .text-xl.font-bold.text-gray-900
    = @page.type.capitalize
    = ":"
  .text-xl.font-bold.text-gray-900
    =@page.name
  %strong.rounded.bg-green-100.px-4.py-2.text-lg.font-medium.text-green-700{:class => "py-1.5"}
    = link_to 'Section details', staged.page_sections_path(@page.id)

  .text-xl
    Edited
    = distance_of_time_in_words_to_now(@page.updated_at)
    ago
.flex.gap-4.justify-center.m-20
  .grid.grid-cols-5
    .text.font-bold Section
    .text.font-bold Cards
    .text.font-bold Translations
    .text.font-bold Updated
    .text.font-bold Actions
    -@page.sections.each do |section |
      %div
        =link_to( staged.section_path(section.id)) do
          #{section.index} : #{section.header}
      %h3
        =link_to staged.section_cards_path(section.id) do
          #{section.cards.length} Cards
      %h3
        = link_to staged.translation_path(@page.id) do
          %button.button.action
            =section.missing_translations
            missing
      %h3
        = updated_by(section)
      %div.flex
        = link_to staged.new_page_section_path(@page.id) do
          %button.button.change New
        = link_to staged.section_path(section.id) do
          %button.button.action Edit
        .p-2
          =link_to(staged.section_move_path(section.id , dir: :down)) do
            %svg.w-6.h-6{:fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M15.75 17.25L12 21m0 0l-3.75-3.75M12 21V3", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
        .p-2
          =link_to(staged.section_move_path(section.id , dir: :up)) do
            %svg.w-6.h-6{:fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M8.25 6.75L12 3m0 0l3.75 3.75M12 3v18", "stroke-linecap" => "round", "stroke-linejoin" => "round"}

  .flex.flex-col
    .basis-80
      = form_tag( staged.page_path(@page.id) , {method: :patch  , class: "mx-auto mt-8 mb-0 max-w space-y-4" } ) do
        %label.block
          %h4.text-lg.font-bold Name
          = text_field_tag( :name , @page.name, class: "w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm")
        %button.button.change.mt-4{type: :submit} Update name

      -unless @page.redirects.blank?
        .mt-4
          Page redirects from
          = @page.redirects

      .relative.block.delete_page.mt-8
        = form_tag( staged.page_path(@page.id) , {method: :delete  } ) do
          %button.button.remove{type: :submit} Delete Page

    .basis-80.grow.options
      %h3.mt-4.text-lg.font-bold Options
      = form_tag( staged.page_path(@page.id) , {method: :patch  , class: "mx-auto mt-8 mb-0 max-w space-y-4" } ) do
        - @page.option_definitions.each do |option|
          =render "/staged/sections/option_form_#{option.type}" , section: @page , option: option
        -if @page.option_definitions.empty?
          %p No options
        -else
          %button.button.change.mt-4{type: :submit} Update Options

:javascript
  var sections = #{ render( partial: "sections" , formats: :json).html_safe }

= render partial: 'staged/sections/overlay'
