:javascript
  var authenticity_token = "#{form_authenticity_token}"

:opal
  Document.ready? do
    init_section
  end

:css
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }

  #text {
    position: absolute;
  }
#overlay
  #text.text-gray-800
    %input.header.mt-1.w-full.rounded-md.border-gray-200.bg-white.shadow-sm{ id: "_header", type: "text" , value: "trans.header"}
    %textarea.textarea.mt-2.w-full.rounded-lg.border-gray-200.align-top.shadow-sm.sm:text-sm{ cols: 100 , rows: 10 }

    %button#hidden_button.button.change.mt-4{type: :submit }
      Update Texts
