.mx-6.md:mx-12.mx-20.flex.h-16.items-center.gap-16
  .text-xl.font-bold.text-gray-900
    Page #{link_to @section.page.name, staged.page_sections_path(@section.page.id), class: "underline"}
  .text-xl.text-gray-900
    Select Card Style for Section #{@section.index} - #{@section.header}

.grid.grid-cols-4.gap-6.m-8
  - @cards.each do |style|
    .flex.flex-col.border.border-gray-300.rounded-lg.p-2.bg-neutral-50
      = link_to( staged.section_set_card_template_path( card_template: style.template )) do
        .font-bold.text-lg.text-center.pb-4= style.header
        =image_tag(style.card_preview , class: "w-full object-contain")
        .text-left.pt-4.bg-gray-50= style.text
