.flex.justify-center.p-8.flex-col.md:flex-row{options(section , :margin , :background )}
  .flex.items-center.h-40.md:h-60.lg:h-96.w-full.overflow-hidden{order_option(section, "lg:w-1/3")}
    = image_for(section ,"")
  .flex.items-center.w-full.max-w.px-6.mt-6.mx-auto{:class => "lg:w-2/3"}
    .flex-1{text_color_option(section)}
      .text-center
        %h2.text-4xl.font-bold.text-center.mb-2
          = section.header_text(current_lang)
        .font-bold.text-center.mb-4.lg:mb-8
          = date_precision(section.page , "published_date")
        .max-w-full.mt-4.gap-16{ options(section , :text_columns , :prose ) }
          = markdown(section,current_lang)
          = header_list
