.flex.flex-col.m-5.md:m-12.lg:m-20{ options(section , :background , :text_color)}
  .flex.items-center.justify-center.flex-1
    .max-w-prose.px-4.mt-16.mx-auto.text-center
      %h1.text-4xl.font-medium= section.header_text(current_lang)
      .mt-4.text-lg.pt-10{ prose_classes }
        = markdown(section,current_lang)
  .flex.items-center.justify-start.m-10.md:m-20
    .mx-auto.w-full.max-w-4xl{class: "max-w-[50%]"}
      = form_tag( main_app.post_form_path , {class: "mt-10" }) do
        - challenge = rand(8)
        = hidden_field_tag :section_id , section.id
        = hidden_field_tag :bot_fudder , "#{challenge*2}"
        .md:grid.gap-6.grid-cols-2
          - template = "staged/view/cards/" + section.card_template
          - section.cards.each do |card|
            = render( template , card: card)
        .grid.gap-6.md:grid-cols-2
          .relative.z-0.mt-10
            %input.peer.block.w-full.appearance-none.border-0.border-b.border-gray-500.bg-transparent.px-0.text-sm.text-gray-900.focus:border-blue-600.focus:outline-none.focus:ring-0{:class => "py-2.5", :name => "challenge", :placeholder => " ", :type => "text"}
            %label.absolute.top-3.-z-10.-translate-y-6.scale-75.transform.text-sm.text-gray-500.duration-300.peer-placeholder-shown:translate-y-0.peer-placeholder-shown:scale-100.peer-focus:left-0.peer-focus:-translate-y-6.peer-focus:scale-75.peer-focus:text-blue-600.peer-focus:dark:text-blue-500{:class => "origin-[0]"}Anti bot question: #{challenge} + #{challenge + 1} is
          %button.mt-10.rounded-md.bg-cyan-700.px-20.py-2.text-white{:type => "submit"} Send
