%section{ options(section , :background , :margin), id: section.type_id}
  -unless( section.header_text(current_lang).blank?)
    .flex{ options(section , :item_align )}
      .px-4.py-4.md:py-10.lg:py-16.mx-5.md:mx-12.lg:mx-20{options(section , :text_align , :text_color)}
        %h1.section_header.text-2xl.font-bold.tracking-tight.sm:text-4xl
          = section.header_text(current_lang)
        -if section.has_option?("subheader")
          %h4.text-xl.mt-10.md:text-2xl
            = section.option("subheader")
        .section_text.mt-4.text-lg.pt-10{ prose_classes }
          = markdown(section,current_lang)
        =view_button(section , "my-2")
  .swiper
    .swiper-wrapper
      - template = "staged/view/cards/" + section.card_template
      - section.cards.each do |card|
        .swiper-slide{ column_option(section)}
          = render( template , card: card)

    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next

%script{:src => "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"}

:javascript
  var breaks = #{slider_columns_option(section).to_json};
  document.addEventListener("DOMContentLoaded", function(event) {
    const swiper = new Swiper('.swiper', {
      loop: true,
      speed: 1500,
      breakpoints: breaks ,
      autoplay: true,
      pagination: {
        el: '.swiper-pagination',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  });

  var head = document.getElementsByTagName("head")[0];
  cssLink = document.createElement("link");
  cssLink.href = "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css";
  cssLink.rel="stylesheet";
  cssLink.id="dynamic-css";
  cssLink.media="screen";
  cssLink.type="text/css";
  head.appendChild(cssLink);
