%section{ options(section , :background , :margin) , id: section.type_id}
  .flex{ options(section , :item_align )}
    .px-4.py-4.md:py-10.lg:py-16.mx-5.md:mx-12.lg:mx-20{options(section , :text_align , :text_color)}
      %h1.section_header.text-2xl.font-bold.tracking-tight.sm:text-4xl
        = section.header_text(current_lang)
      -if section.has_option?("subheader")
        %h4.text-xl.mt-10.md:text-2xl
          = section.option("subheader")
      .section_text.mt-4.text-lg.pt-10{ prose_classes }
        = markdown(section,current_lang)
      =view_button(section , "my-2")
