%section.overflow-hidden.bg-cover.bg-no-repeat{bg(section , "h-full") , id: section.type_id}
  .px-4.py-24.sm:px-6.lg:px-8
    .flex{ item_align_option( section)}
      .p-8.md:p-12.lg:px-16.lg:py-24{options(section , :shade )}
        .mx-auto.max-w-xl{ options(section , :text_color, :text_align)}
          %h2.section_header.text-2xl.font-bold.md:text-5xl
            = section.header_text(current_lang)
          .section_text.sm:mt-4.text-2xl{ prose_classes }
            = markdown(section,current_lang)
          =view_button(section , "my-2")
