%section.p-20.my-20{ options(section , :background , :text_color , :margin), id: section.type_id}
  .flex.justify-center
    .max-w-prose{ options(section , :text_align)}
      - if !section.header_text(current_lang).blank?
        %h1.section_header.mb-10.text-2xl.font-bold.tracking-tight.sm:text-4xl
          = section.header_text(current_lang)
      -if section.has_option?("subheader")
        .section_text.text-xl.pb-6{ prose_classes }
          = section.option("subheader")

  .max-w-full.mt-4.gap-16{ options(section , :text_columns , :prose ) }
    = markdown_image(section,current_lang)
    - if section.has_option?("button_text") and section.has_option?("button_link")
      %span.block.transition.group-hover:translate-x-1
        %a.text-gray-800.transition{:class => "hover:text-gray-500", :href => "#{section.option("button_link")}"}
          = section.option("button_text")
          &rarr;
