%section.overflow-hidden.grid.grid-cols-1.m-5.md:m-12.lg:m-20.md:grid-cols-2{id: section.type_id}
  %div{ order_option(section)}
    = image_for( section , "h-56 w-full object-cover sm:h-full")
  .p-8.md:p-12.lg:px-16.lg:py-24{ background_option(section)}
    .mx-auto.max-w-xl{options(section , :text_align , :text_color)}
      %h2.section_header.text-2xl.font-bold.md:text-4xl
        = section.header_text(current_lang)
      -if section.has_option?("subheader")
        %h4.text-xl.mt-10.md:text-2xl
          = section.option("subheader")
      .section_text.mt-8{ prose_classes }
        = markdown(section,current_lang)
      =view_button(section , "my-2")
