%section.m-6.md:m-12.lg:m-20{ options(section , :background , :text_color), id: section.type_id}
  .flex.justify-center
    - unless section.header.blank? and section.text.blank?
      .px-4.py-4.md:py-10.lg:py-16{ options(section , :text_align)}
        - unless section.header.blank?
          %h1.section_header.text-2xl.font-bold.tracking-tight.sm:text-4xl
            = section.header_text(current_lang)
        - if section.has_option?("subheader")
          %h2.text-xl.pt-10.font-bold.tracking-tight.sm:text-2xl
            = section.option("subheader")
        - unless section.text.blank?
          .section_text.text-lg.pt-10{ prose_classes }
            = markdown(section , current_lang)
  - template = "staged/view/cards/" + section.card_template
  .grid{ column_option(section)}
    - section.cards.each do |card|
      = render( template , card: card)
