.flex.justify-center.flex-col.md:flex-row{options(section , :margin , :background ), id: section.type_id}
  .flex.items-center.sm:my-2.lg:my-0.h-40.md:h-60.lg:h-96.w-full.overflow-hidden{order_option(section, "lg:w-2/3")}
    = image_for(section ,"object-cover")
  .flex.items-center.w-full.max-w.px-6.mt-6.mx-auto{:class => "lg:w-1/3"}
    .flex-1{text_color_option(section)}
      .text-center
        %h2.section_header.text-4xl.font-bold.text-center.mb-4.lg:mb-8= section.header_text(current_lang)
        -if section.has_option?("subheader")
          %h4.text-xl.mt-4.lg:mt-8.md:text-2xl
            = section.option("subheader")
        .section_text.mt-3{ prose_classes }
          = markdown(section,current_lang)
        =view_button(section , "my-2")
