.flex.justify-center.flex-col.lg:flex-row{options(section , :margin , :background ), id: section.type_id}
  .flex.justify-center.h-60.w-full.overflow-hidden{order_option(section, "lg:w-1/3")}
    = image_for(section ,"object-cover")
  .columns-1.md:columns-2.max-w-full.items-center.w-full.max-w.px-6.mx-auto.mt-6.lg:mt-0{text_color_option(section, "lg:w-2/3")}
    %h2.section_header.text-4xl.font-bold.text-left.mb-4.lg:mb-8{text_align_option(section)}= section.header_text(current_lang)
    -if section.has_option?("subheader")
      %h4.text-xl.mt-4.lg:mt-8.md:text-2xl{text_align_option(card)}
        = section.option("subheader")
    .section_text.mt-3{ prose_classes }
      = markdown(section,current_lang)
    =view_button(section , "my-2")
