.flex.mx-6.md:mx-12.mx-20.my-6.h-16.justify-between
  .flex.items-center.gap-16
    %a{:href => "/"}
      %span.sr-only Home
      =image_tag("staged/home" , class: "h-10")
    %a{:href => "/staged/pages"}
      %span.sr-only Staged Home
      =image_tag("staged/staged_logo" , class: "h-10")

    %ul.flex.items-center.gap-6.text-lg
      %li
        %a.text-gray-500.transition{:class => "hover:text-gray-500/75", :href => staged.pages_path}
          Pages
      %li
        %a.text-gray-500.transition{:class => "hover:text-gray-500/75", :href => staged.images_path}
          Images
      %li
        %a.text-gray-500.transition{:class => "hover:text-gray-500/75", :href => staged.styles_index_path}
          Styles
      %li
        %a.text-gray-500.transition{:class => "hover:text-gray-500/75", :href => staged.changes_index_path}
          Changes

  .flex.items-center.gap-16
    = link_to staged.changes_index_path do
      %button.my-3.button{class: last_change_class}= last_change_text

    - if main_app.respond_to? :destroy_member_session_path
      = form_tag( main_app.destroy_member_session_path , {method: :delete  } ) do
        %button.flex.w-full.items-center.gap-2.rounded-lg.px-4.py-2.text-sm.text-blue-700.hover:bg-red-50{:role => "menuitem", :type => "submit"}
          %svg.h-4.w-4{:fill => "none", :stroke => "currentColor", "stroke-width" => "2", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
          Sign out
