!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Staged CMS
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind"
    = stylesheet_link_tag "staged/staged"

    = javascript_include_tag "staged_application"

    - if false
      %script{:src => "https://cdn.tailwindcss.com"}

  %body
    = render "layouts/staged/header"
    = render "layouts/staged/messages"
    = yield
