.group.m-8.overflow-hidden.relative.flex.h-96.items-end{ id: card.type_id}
  = image_for( card , "absolute inset-0 h-full w-full object-cover hover:scale-110 ease-in duration-700")
  .relative.w-full.m-2.p-4.tracking-widest{text_align_option(card ,"sm:w-1/2")}
    -unless card.header_text(current_lang).blank? and card.text.blank?
      %div.transition-colors.group-hover:bg-black.group-hover:text-white{options(card , :text_align , :text_color , :background)}
        .relative.w-full.m-2.p-4
          %h3.card_header.text-lg
            = card.header_text(current_lang)
          .card_text.mt-1.text-xs.font-medium{ prose_classes }
            = markdown(card,current_lang)
