.flex.flex-col.lg:flex-row{background_option(card), id: card.type_id}
  = image_for( card , "object-cover lg:w-3/5")
  .ml-0.lg:ml-10.mt-6.lg:mt0{options(card , :text_align , :text_color , :order , "lg:w-2/5")}
    %h3.card_header.text-2xl.font-bold= card.header_text(current_lang)
    -if card.has_option?("subheader")
      %h4.py-4.text-xl= card.option("subheader")
    .card_text.py-4{prose_classes}= markdown(card,current_lang)
    =view_button(card , "mb-2")
