.m-3.relative.p-px.overflow-hidden.transition.duration-300.transform.border.rounded.shadow-sm.hover:scale-105.group.hover:shadow-xl{ id: card.type_id}
  .absolute.bottom-0.left-0.w-full.h-1.duration-300.origin-left.transform.scale-x-0.bg-deep-purple-accent-400.group-hover:scale-x-100
  .absolute.bottom-0.left-0.w-1.h-full.duration-300.origin-bottom.transform.scale-y-0.bg-deep-purple-accent-400.group-hover:scale-y-100
  .absolute.top-0.left-0.w-full.h-1.duration-300.origin-right.transform.scale-x-0.bg-deep-purple-accent-400.group-hover:scale-x-100
  .absolute.bottom-0.right-0.w-1.h-full.duration-300.origin-top.transform.scale-y-0.bg-deep-purple-accent-400.group-hover:scale-y-100
  .relative.p-5.bg-white.rounded-sm
    .flex.flex-col.mb-2.lg:items-center.lg:flex-row
      .flex.items-center.justify-center.w-16.h-16.mb-4.mr-2.rounded-full.lg:mb-0{options(card,:background )}
        = image_for( card , "h-8 w-8")
      %h6.card_header.font-semibold.leading-5{options(card, :text_color)}= card.header_text(current_lang)
    .card_text.mb-2.text-sm.text-gray-900{ prose_classes }
      = markdown(card,current_lang)
    .text-center=view_button(card , "mb-2")
