.flex.flex-col.justify-between{background_option(card), id: card.type_id}
  %div{ order_option(card , "align-bottom")}
    = image_for( card , "h-full w-full object-cover")
  .m-6{options(card , :text_align , :text_color )}
    %h3.card_header.p-4.text-2xl.font-bold= card.header_text(current_lang)
    -if card.has_option?("subheader")
      %h4.p-4.text-xl= card.option("subheader")
    .card_text.mt-2.p-4{prose_classes}= markdown(card,current_lang)
    =view_button(card)
