.flex.justify-center.flex-col{options(card , :background) , id: card.type_id}
  .flex.justify-center.overflow-hidden
    = image_for(card)
  .flex.justify-center.w-full.max-w.px-6.my-4{options(card , :text_align , :text_color)}
    %h2.card_header.text-4xl.font-bold.text-center= card.header_text(current_lang)
    .card_text.ml-10.text-center= card.text_text(current_lang)
