.fex.flex-col.overflow-hidden.rounded-lg.border.border-gray-100.shadow-sm{ id: card.type_id}
  = image_for( card ,  class: "h-full w-full object-cover")
  %h3.card_header.p-5.text-2xl.bg-gray-100.text-black.font-bold{ text_align_option(card)}= card.header_text(current_lang)
  %div.h-full{background_option(card)}
    .p-5{options(card , :text_align , :text_color)}
      .card_text.m-2.text-sm.leading-relaxed.line-clamp-3{ prose_classes }
        = markdown(card,current_lang)
      =view_button(card , "my-2")
