.max-w-md.sm:mx-auto.sm:text-center{ id: card.type_id}
  .mt-4.flex.items-center.justify-center.mb-4.rounded-full.mx-auto.w-40.h-40{options(card,:background )}
    = image_for( card , "h-20 w-20")
  %h4.card_header.mb-3.text-xl.font-bold.leading-5{options(card, :text_color)}= card.header_text(current_lang)
  .card_text.mb-3.text-sm.text-gray-900{ prose_classes }
    = markdown(card,current_lang)
  =view_button(card , "mb-2")
