.grid.grid-cols-1.gap-4.md:gap-8.lg:gap-12{ id: card.type_id}
  %div{ order_option(card)}
    = image_for( card , "h-full w-full object-cover")
  .grid.h-70{options(card , :text_align , :text_color , :background )}
    %h3.card_header.p-4.mt-10.text-3xl.font-bold= card.header_text(current_lang)
    -if card.has_option?("subheader")
      %h4.p-4.text-xl= card.option("subheader")
    .m-6{options(card , :background , :text_color ) }
      .card_text{ prose_classes }
        = markdown(card,current_lang)
      =view_button(card , "my-2")
