!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %style
      = Rails.application.assets_manifest.find_sources('staged/staged.email.css').first.to_s.html_safe
  %body
    = yield
